<div class="alert alert-info">Les données indiquées dans notre catalogue sont issues des données fournisseurs. Elles peuvent être révisées à la baisse ou modulées en fonction des recommandations de votre conseiller ou de votre propre initiative selon le stade de la culture, le stade des adventices, des ravageurs ou de la pression des maladies cryptogamiques.</div>
<div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>


