{% extends 'base.html.twig' %}

{% block title %}Créer un cours de vente{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Ajouter un cours de vente</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('panorama_index') }}">Cours de vente</a></li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'sales/manager/_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
