{% if catalogue.status >= 2 %}
    <a title="Télécharger" class="btn btn-info ml-2" href="{{ asset('uploads/catalogue/' ~ catalogue.pdf) }}" download><i class="fas fa-download"></i> {{ button_label|default('') }}</a>
{% endif %}
