{{ form_start(form_password) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form_password.password) }}
        </div>
    </div>
    {{ form_rest(form_password) }}
<button class="btn btn-primary">Modifier le mot de passe</button>
{{ form_end(form_password) }}
