<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            {% if app.user.status == 'ROLE_ADMIN' %}
                <ul id="sidebarnav">
                    <li class="nav-small-cap">Compte Administrateur</li>
                    <li>
                        <a class="waves-effect waves-dark" href="{{ path('admin.users.index') }}" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu"> Compte Client</span></a>
                    </li>
                </ul>
            {% endif %}
            {% if app.user.status == 'ROLE_USER' %}
                <ul id="sidebarnav">
                    <li class="nav-small-cap">Menu Agriculteur</li>
                    <li>
                        <a class="waves-effect waves-dark" href="<?= $router->generate('ilotsList'); ?>" aria-expanded="false"><i class="mdi mdi-sitemap"></i><span class="hide-menu">Choix par Ilots </span></a>
                    </li>
                </ul>
            {% endif %}
        </nav>
    </div>
</aside>
