<form method="POST" action="{{ path('user_flash_check', {id: flash.id}) }}" style="display: inline-block">
    <input type="hidden" name="_method" value="CHECK">
    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ flash.id) }}">
    <button title="Checker" class="btn btn-success btn-xs"><i class="ti-check"></i> Lire</button>
</form>
