<form method="POST" action="{{ path('order_product_delete', {'id': article.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir effacer ce produit? Cette action est irréversible et l\'effacera du compte client également.')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteOrderArticle' ~ article.id) }}">
    <button class="btn btn-danger ml-3"><i class="fa fa-trash"></i> {{ button_label|default('') }}</button>
</form>
