<footer class="footer">
    © {{ "NOW"|date('Y')}} {{ APP_NAME }} By LMS Design
    <span><small>v1.2</small></span>
    <small class="mr-3 ml-5">Politique de confidentialité</small>
    <a href="{{ asset('docs/CGV_SODEPAC_SAS_-_EGALIM.pdf') }}" class="text-dark"><small class="mr-3">CGV</small></a>
</footer>
