<footer class="footer">
    © {{ "NOW"|date('Y')}} SODEPAC By LMS Design
    <span class="pull-right"><small>v1.7.0</small></span>
    <small class="pull-right mr-3">Politique de confidentialité</small>
    <a href="{{ asset('docs/CGV_SODEPAC_SAS_-_EGALIM.pdf') }}" class="text-dark"><small class="pull-right mr-3">CGV</small></a>
</footer>
