<div class="alert alert-warning">
  <p>
    Bonjour,<br><br>

    Denis a décidé de supprimer tous les comptes agriculteurs sur l’application.<br>

    Sur vos comptes vous conservez les accès pour réaliser des commandes et des catalogues.<br><br>

    Les agriculteurs n’ayant plus de comptes, ils ne pourront plus signer les commandes.<br><br>

    Pour les commandes que vous souhaitez passer via l’application, vous devrez donc désormais les télécharger en pdf et les envoyer manuellement à vos clients ou les imprimer en format papier, pour les faire valider et signer, puis les transférer au dépôt concerné.<br>
    <br>
    Cordialement,

    L’équipe LMS
  </p>
</div>
